<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9679aa">  <td>20/03/18 05:56:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass.afterMethod()[pri:0, instance:com.test.Regression.TestClass@3ada9e37]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9679aa">  <td>20/03/18 05:56:52</td>   <td>17639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass.afterMethod()[pri:0, instance:com.test.Regression.TestClass@3ada9e37]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9679aa">  <td>20/03/18 05:56:03</td>   <td>-31706</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass.beforeClass()[pri:0, instance:com.test.Regression.TestClass@3ada9e37]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9679aa">  <td>20/03/18 05:56:08</td>   <td>-26335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass.beforeMethod()[pri:0, instance:com.test.Regression.TestClass@3ada9e37]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9679aa">  <td>20/03/18 05:56:34</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass.beforeMethod()[pri:0, instance:com.test.Regression.TestClass@3ada9e37]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>20/03/18 05:55:52</td>   <td>-42714</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.test.Regression.TestClass@3ada9e37]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9679aa">  <td>20/03/18 05:56:34</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.createBugIssue()[pri:5, instance:com.test.Regression.TestClass@3ada9e37]">createBugIssue</td> 
  <td>main@472654579</td>   <td></td> </tr>
<tr bgcolor="9679aa">  <td>20/03/18 05:56:08</td>   <td>-26335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.createStoryIssue()[pri:0, instance:com.test.Regression.TestClass@3ada9e37]">createStoryIssue</td> 
  <td>main@472654579</td>   <td></td> </tr>
</table>
