<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>20/03/18 15:55:52</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.test.Regression.TestClass@26653222]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:02</td>   <td>10180</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass.beforeClass()[pri:0, instance:com.test.Regression.TestClass@26653222]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:06</td>   <td>14554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass.beforeMethod()[pri:0, instance:com.test.Regression.TestClass@26653222]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:06</td>   <td>14554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.createStoryIssue()[pri:0, instance:com.test.Regression.TestClass@26653222]">createStoryIssue</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:17</td>   <td>25613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass.afterMethod()[pri:0, instance:com.test.Regression.TestClass@26653222]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:17</td>   <td>25614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass.beforeMethod()[pri:0, instance:com.test.Regression.TestClass@26653222]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:17</td>   <td>25614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.createBugIssue()[pri:5, instance:com.test.Regression.TestClass@26653222]">createBugIssue</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:23</td>   <td>31608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass.afterMethod()[pri:0, instance:com.test.Regression.TestClass@26653222]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:23</td>   <td>31609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass.beforeMethod()[pri:0, instance:com.test.Regression.TestClass@26653222]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:23</td>   <td>31609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.linkBugIssue()[pri:10, instance:com.test.Regression.TestClass@26653222]">linkBugIssue</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/03/18 15:56:44</td>   <td>52233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass.afterMethod()[pri:0, instance:com.test.Regression.TestClass@26653222]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
</table>
